
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Temp.cshtml";
}

<h1>Welcome <span class="text-danger">E-</span><span class="text-primary">-NOMPILE</span> Counselling</h1>

<div class="container-fluid pt-4 px-4">
    <!--Button to trigger the modal-->
    <div class="row g-4">
        <div class=" col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/Image/Couselling.png" style="width: 65px" />
                <div class="ms-3">
                    <h4 class="mb-2">Couselling<span class="badge bg-primary rounded-pill text-white"></span></h4>

                </div>
            </div>
        </div>
        <!--Modal-->

        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/Image/Vac.png" style="width: 65px" />
                <div class="ms-3">
                    <h4 class="mb-2">Vaccination</h4>

                </div>
            </div>
        </div>
        <!--Modal-->

        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class=" dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/Image/FM.png" style="width: 50px" />
                <div class="ms-3">
                    <h4 class="mb-2">Family Planning</h4>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/Image/Wk.png" style="width: 50px" />
                <div class="ms-3">
                    <h4 class="mb-2">Walk in</h4>

                </div>
            </div>
        </div>
    </div>
</div>