@model Primary_HealthCare_System.Models.Appointments

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="bg-primary ">
    <h1 class="m-1 text-center text-white">Edit Appointment</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <select asp-for="Purpose" class="form-control">

                    <option value="Counselling">Counselling</option>
                    <option value="Vaccination">Vaccination</option>
                    <option value="Chronic">Chronic</option>
                </select>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clinician" class="control-label"></label>
                <select asp-for="clinician" class="form-control">

                    <option value="Dr Mullar">Dr Mullar</option>
                    <option value="Mr Damiels"></option>
                    <option value="Mrs Danny"></option>
                </select>
                <span asp-validation-for="clinician" class="text-danger mt-2"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

